<style type="text/css">
  .card {
    backdrop-filter: blur(5px);
    min-width: 35vh;
    height: 130%;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.051),
      0px 0px 7.2px rgba(0, 0, 0, 0.073), 0px 0px 13.6px rgba(0, 0, 0, 0.09),
      0px 0px 24.3px rgba(0, 0, 0, 0.107), 0px 0px 45.5px rgba(0, 0, 0, 0.129),
      0px 0px 109px rgba(0, 0, 0, 0.18);
  }
  .card-0{
    background-color: rgba(0, 166, 255, 0.3);
  }
  .card-1 {
    background-color: rgba(255, 59, 0, 0.37);
  }
  .card-2 {
    background-color: rgba(255, 0, 0, 0.23);
  }
</style>

<div class="container-fluid py-4">
  <h4>Hi, <%= current_user.email %></h4>
  <h6>Please Select One of The Following Models For Analysis:</h6>
</div>
<div class="row">
  <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
    <% if type == "tabular" %>
      <% dynamic_path = specific_model_table_eval_path(model_name: "lenet5") %>
    <% else %>
      <% dynamic_path = specific_model_graph_eval_path(model_name: "lenet5") %>
    <% end %>
      <%= link_to dynamic_path do %>
      <div class="card card-0 card-hover">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-12">
              <div class="numbers">
                <h3 class="font-weight-bolder mb-0">
                  LeNet-5
                </h3>
              </div>
              <p>Please Click Here to Explore Mutation Analysis Paradigm on LeNet-5!</p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
    <div class="card card-1 card-hover">
      <div class="card-body p-3">
        <div class="row">
          <div class="col-12">
            <div class="numbers">
              <h3 class="font-weight-bolder mb-0">
               AlexNet
              </h3>
            </div>
            <span class="text-danger text-sm font-weight-bolder">Coming Soon!</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>