<footer id="footer">
  <div class="container">
    <%= image_tag("xavier.png", class: "img-fluid") %>
    <p>A ToolBox For Mutation Testing.</p>
    <div class="social-links">
      <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
      <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
      <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
      <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
    </div>
    <div class="copyright">
      &copy; Copyright <strong><span>XAVIER</span></strong>. All Rights Reserved
    </div>
  </div>
</footer>