<div class="py-5">
<h3>Following are recently created Projects</h3>
<div class="table-responsive bg-white">
  <table class="table align-items-center mb-0">
    <thead>
      <tr>
        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Name</th>
        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Description</th>
        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Action</th>
        <!-- <th class="text-secondary opacity-7"></th> -->
      </tr>
    </thead>
    <tbody>
    <% if @projects.any? %>
      <% @projects.each_with_index do |project, index| %>
        <%= render project %>
      <% end %>
    <% end %>
    </tbody>
  </table>
</div>
<%= link_to "New project", new_project_path, class: "btn btn-secondary my-5" %>
</div>