.login-box {
  border: 54px #555; 
  border-radius: 55px; 
  box-shadow: 0 0 10px RGB(0 0 0 / 0.60); 
  -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6); 
  -webkit-box-shadow: 0 0 5px RGB(0 0 0 / 0.30); 
  -o-box-shadow: 0 0 10px rgba(0,0,0,0.6);
  padding: 4% 3% 3% 2%; 
  transform: translateY(10%); background: white;
}

.pt-10 {
  padding-top: 10rem !important;
}

.ty-26 {
  transform: translateY(26%);
}