<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%= @form.name %>! Has sent a Query.</h1>
    <h3>Email: <%= @form.email %></h3>
    <h3>Reason For Contacting: <%= @form.subject %></h3>
    <h3>Message: </h3>
    <p><%= @form.message %></p>
  </body>
</html>